build/
.vscode/
.idea

src/frontend/parser.cpp
src/frontend/parser.h
src/frontend/token.cpp

CMakeFiles/
cmake-build-debug/
cmake-build-release/
cmake_install.cmake
CMakeCache.txt
Makefile

.cache/clangd/index
.cache/*
*.log
*/*.log
*/core
core

*/*.ll
*.ll
run_test_one.sh
